<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bakery Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to My Bakery Web App</h1>
    <ul>
        <li><a href="{{ url_for('add_orders') }}">Add Orders</a></li>
        <li><a href="{{ url_for('view_orders') }}">View Orders</a></li>
        <li><a href="{{ url_for('cancel_order') }}">Cancel Orders</a></li>
        <li><a href="{{ url_for('save_to_excel') }}">Save to excel</a></li>
        <li><a href="{{ url_for('update_orders') }}">Update Orders</a></li>
        <li><a href="{{ url_for('view_order_by_id') }}">View Orders By Order ID</a></li>
        <!-- Add links for other functionalities -->
    </ul>
</body>
</html>
